<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <hr>
    <h1>About</h1>

    <p>      <%= name %> </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quidem repellendus officiis at veniam, est cum neque repudiandae ullam? Obcaecati possimus, mollitia perferendis iure quaerat, similique tenetur labore totam non cumque ipsum, sint porro sunt modi aperiam eaque cum blanditiis! Dignissimos architecto odio ratione quod delectus tenetur repellendus, odit velit?</p>

</body>
</html>