<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <hr>
    <h1>Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, dolores
      aliquam similique repellat commodi labore voluptatibus perspiciatis, porro
      sapiente cumque consequuntur. Tempore fuga sint ratione assumenda
      mollitia, libero similique repellendus minus dolor itaque earum eligendi
      error voluptate vero porro unde quas sunt accusamus quisquam
      reprehenderit. Aspernatur nam debitis nemo libero explicabo necessitatibus
      tempore ipsum, dolore voluptatibus repudiandae ut fugit voluptas cum sunt.
      At labore deleniti ratione quidem quas nobis delectus aut impedit
      recusandae, nostrum molestias aspernatur a quia sapiente qui facilis, eos
      veritatis maiores debitis. Numquam saepe dolor vitae, libero doloremque
      corporis recusandae veritatis nostrum totam, odit in dicta quod molestias
      hic ut ipsum sunt tempore deleniti velit accusamus quia! Consequuntur
      autem in voluptatum accusamus asperiores dolores, deleniti tenetur ducimus
      voluptas, delectus beatae molestiae magnam similique dolore obcaecati
      atque sed exercitationem hic placeat illum doloribus quam! Cumque et
      eveniet distinctio, beatae laboriosam dolorem officiis fugit qui labore
      repellendus magni nam mollitia repudiandae eum quasi voluptates explicabo
      nobis quae nesciunt. Delectus modi aspernatur laboriosam est consequuntur
      assumenda exercitationem omnis earum iusto dolorum. Sapiente est mollitia
      id accusantium maxime commodi assumenda voluptatum non adipisci cupiditate
      expedita dignissimos quo quasi doloremque, ducimus delectus aspernatur sed
      blanditiis similique modi. Cupiditate et harum quidem recusandae?
    </p>

    <h2>
      <%= name %>
    </h2>
  </body>
</html>
