<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/student">Student</a>
    <hr>
    
    <h1>Home page</h1>
    <br>
    <p>
      It is a home page <br /> <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eaque
      laborum reiciendis mollitia, harum velit culpa nam officia distinctio quam
      quia dolorum sit soluta molestiae in eum molestias, magnam temporibus fuga
      iusto veniam! Repellendus ipsam fugiat nesciunt tenetur, suscipit
      doloremque incidunt neque, perferendis, placeat accusamus explicabo
      dolorem praesentium deleniti voluptate laudantium? Ducimus eveniet cumque
      doloribus aliquam odio ab expedita ex, rem nobis dolor est labore ratione
      molestias suscipit? Atque vel nesciunt omnis iusto, harum earum aliquid,
      voluptatem ea velit ab nam enim magnam vero architecto blanditiis at,
      rerum fuga saepe aperiam voluptas! Assumenda perspiciatis voluptas officia
      nemo dolorum, reiciendis rerum.
    </p>
  </body>
</html>
