<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>student</title>
    <link rel="stylesheet" href="css/student.css">
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/student">Student</a>
    <hr>
    
    <h1>Student Page</h1>
    <br>
    <p>
      It is a student Page <br /> <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum rerum
      minus debitis tempora velit corporis voluptatibus incidunt obcaecati ex
      veritatis commodi omnis impedit exercitationem magni aperiam accusantium,
      temporibus iusto! Quaerat, illo ipsum est perferendis ipsa dolorem at ab
      dolorum rerum veniam cum voluptatem asperiores consequatur dicta aliquid
      repellat iste unde! Quam eum nisi impedit, maxime, mollitia ab provident
      aspernatur consectetur eveniet necessitatibus, magnam itaque quo deleniti
      commodi harum fuga? Odio, tempora sit nihil unde voluptatem nemo id atque
      porro incidunt accusantium cumque laborum esse. Voluptatibus mollitia
      temporibus rerum expedita delectus omnis ut laboriosam aut, minus a
      recusandae, facilis, molestias rem.
    </p>
  </body>
</html>
