<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href=".hello.css"> -->
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, quod.</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam incidunt suscipit autem assumenda, minus ducimus voluptas excepturi ut animi itaque. Voluptatum hic repellendus assumenda similique possimus ad eos. Ducimus facilis quis beatae consequuntur. Totam aspernatur, consectetur eius exercitationem suscipit ea?</p>
   <img src="/images/biryani.jpg" alt="biryani" height="50%" width="50%">
   <br> <br>
   <button id="btn">click</button>
   <script src="js/style.js"></script>
</body>
</html>